body {
  background: #31313b; }

.wf_box {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: #31313b; }
  .wf_box .wf {
    border-radius: 0 100% 0 0;
    border-top: 8px solid #76766b;
    border-right: 8px solid #76766b;
    position: absolute;
    transform: rotateZ(-45deg);
    top: 50%;
    left: 50%; }
  .wf_box .wf_1 {
    width: 10px;
    height: 10px;
    background: #ffffcc;
    border: none;
    margin-left: 0px;
    margin-top: 0px; }
  .wf_box .wf_2 {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -16px;
    animation: flicker 2s ease .3s infinite; }
  .wf_box .wf_3 {
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -32px;
    animation: flicker 2s ease .6s infinite; }
  .wf_box .wf_4 {
    width: 48px;
    height: 48px;
    margin-left: -24px;
    margin-top: -48px;
    animation: flicker 2s ease .9s infinite; }

@keyframes flicker {
  0% {
    opacity: 1; }
  30% {
    opacity: .7; }
  80% {
    opacity: .3; }
  80% {
    opacity: .1; }
  100% {
    opacity: 0; } }
